/*************************************/
/*             Generales             */
/*************************************/
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form {
  margin: 0px;
  padding: 0 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.content ul,
.content ol,
dd,
p,
address,
pre,
blockquote,
table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
a {
  color: #0f7c67;
  text-decoration: none;
}
a:hover {
  color: #435a6b;
  text-decoration: underline;
}
.article-title a {
  color: #0f7c67;
}
.article-title a:hover {
  color: #435a6b;
  text-decoration: none;
}
.feed-icons {
  text-align: center;
}
nav a {
  color: #000;
  box-shadow: 0px 5px 2px 0px #000;
}
nav a:hover {
  box-shadow: 0 0;
  color: #0f7c67;
}
.main-content {
  margin-top: 30px;
}
.node {
  margin-bottom: 50px;
}
.node .node__content {
  word-wrap: break-word;
}
/* FIN GENERALES */

