/*************************************/
/*               Layout              */
/*************************************/
@media screen and (min-width: 768px) {
  .main-sidebar {
    float: left;
    width: 30%;
  }
  .main-content {
    margin-left: 30%;
    max-width: 800px;
    width: 70%;
  }
}
/* FIN LAYOUT */

