@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic|Sorts+Mill+Goudy:400italic");

@import 'normalize.styl'
@import 'layout.styl'
@import 'typo.styl'
@import 'generales.styl'
@import 'comentarios.styl'
@import 'makeup.styl'
@import 'especificos.styl'

/*    TYPO   */
/*===========*/
/* ESPECIFICOS */
/*=============*/

body {
  background-color: #eee;
}
