@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic|Sorts+Mill+Goudy:400italic");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 0;
  list-style: none;
  list-style-image: none;
}
dd {
  margin: 0 0 0 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media screen and (min-width: 768px) {
  .main-sidebar {
    float: left;
    width: 30%;
  }
  .main-content {
    margin-left: 30%;
    max-width: 800px;
    width: 70%;
  }
}
body {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
}
article h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
}
article h4 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.2;
}
article h5 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.33333;
}
article h6 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}
article p {
  font-size: 1.15rem;
}
@media screen and (min-width: 768px) {
  article p {
    line-height: 1.5;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form {
  margin: 0px;
  padding: 0 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.content ul,
.content ol,
dd,
p,
address,
pre,
blockquote,
table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
a {
  color: #0f7c67;
  text-decoration: none;
}
a:hover {
  color: #435a6b;
  text-decoration: underline;
}
.article-title a {
  color: #0f7c67;
}
.article-title a:hover {
  color: #435a6b;
  text-decoration: none;
}
.feed-icons {
  text-align: center;
}
nav a {
  color: #000;
  box-shadow: 0px 5px 2px 0px #000;
}
nav a:hover {
  box-shadow: 0 0;
  color: #0f7c67;
}
.main-content {
  margin-top: 30px;
}
.node {
  margin-bottom: 50px;
}
.node .node__content {
  word-wrap: break-word;
}
article.js-comment {
  background: #bbb;
  margin-bottom: 1rem;
  border-radius: 5px;
}
article.js-comment footer {
  background: #888;
  border-radius: 5px 5px 0px 0px;
}
article.js-comment footer p {
  display: inline-block;
  margin-bottom: 0px;
}
article.js-comment h3 {
  margin-bottom: 0.5rem;
}
article.js-comment p {
  font-size: 0.909rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
}
.indented {
  margin-left: 5%;
  position: relative;
}
.indented .js-comment:before {
  content: " ";
  border-bottom: 1rem solid #888;
  border-left: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-right: 1rem solid transparent;
  position: absolute;
  top: -1.7rem;
  left: 5px;
}
.indented p {
  font-size: 0.85rem;
}
article.comment {
  font-family: monospace;
  margin: 0 0 1.5rem;
}
article.comment .submitted {
  font-size: 11px;
}
article.node:after {
  content: '\2022 \00a0 \2022 \00a0 \2022';
  display: block;
  text-align: center;
}
article blockquote {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 900;
  margin: 15px;
  position: relative;
  text-align: center;
}
article blockquote:before {
  content: url("../images/quote.png");
  left: 0;
  opacity: 0.2;
  position: absolute;
}
article figure figcaption {
  margin-bottom: 2em;
  font-family: monospace;
  font-style: italic;
  position: relative;
  top: -0.5em;
  text-align: center;
  text-decoration: underline;
}
article .date {
  font-family: monospace;
  display: block;
  text-align: center;
}
article .date:before,
article .date:after {
  content: '\2022';
}
article .node__links {
  margin: 10px;
}
article h4 {
  font-family: Georgia;
  font-style: italic;
  font-weight: 200;
}
article h5 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 100;
}
article h6 {
  font-family: sans-serif;
  font-weight: 100;
}
article img {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  display: block;
  height: 100%;
  margin: 1rem auto;
  max-width: 90%;
  padding: 5px;
}
article .field--name-field-tags h3 {
  margin: 0;
}
article .field--name-field-tags .field__label {
  background-color: #888;
  text-align: center;
}
article .field--name-field-tags ul {
  background-color: #bbb;
}
article .field--name-field-tags ul li {
  display: inline-block;
  margin: 5px 10px;
  padding: 3px 5px;
  position: relative;
}
article .field--name-field-tags ul li:hover:before {
  content: '\0023';
  color: #435a6b;
  position: absolute;
  left: -3px;
}
footer {
  text-align: center;
}
.main-sidebar {
  text-align: center;
  position: relative;
}
.main-sidebar .contextual-region {
  margin-bottom: 1em;
  position: relative;
  top: -50px;
}
.main-sidebar #block-mokte-branding img {
  max-width: 320px;
  max-height: 320px;
  vertical-align: middle;
}
.main-sidebar #block-mokte-main-menu {
  overflow-x: auto;
  padding: 0.5em;
  text-align: center;
  white-space: nowrap;
}
.main-sidebar #block-mokte-main-menu li {
  display: inline-block;
}
.main-sidebar #block-mokte-main-menu li a {
  margin: 0 0.5rem;
  padding: 0 0.2rem;
}
header {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 590px;
}
header #block-sitebranding {
  position: absolute;
  top: 50%;
  width: 100%;
}
header #block-sitebranding a {
  display: block;
  font-size: 2.7rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.2em #000;
}
header #block-sitebranding {
  color: #fff;
  text-align: center;
}
.pager {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5em;
  margin: 0;
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager li a {
  margin: 0 0.5rem;
  padding: 0 0.2rem;
}
.article-title a {
  position: relative;
  display: inline-block;
  outline: none;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
.article-title a:hover,
.article-title a:focus {
  outline: none;
}
article h2 {
  margin-bottom: 0px;
  padding: 5px;
  color: #435a6b;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(15,124,103,0);
}
article h2:hover {
  border-bottom: 1px solid #435a6b;
}
article h2 a span {
  display: block;
  background: #eee;
}
article h2 a:hover {
  text-decoration: none;
}
.node--type-foto h2 {
  display: none;
}
/*    TYPO   */
/*===========*/
/* ESPECIFICOS */
/*=============*/
body {
  background-color: #eee;
}
